params {
    // illumina iGenomes reference file paths
    genomes {
        "idt-hg19" {
            fasta = "${params.idt_base}/Genomes/hg19/hg19_primary.fa"
            fasta_dict = "${params.idt_base}/Genomes/hg19/hg19_primary.dict"
            fasta_fai = "${params.idt_base}/Genomes/hg19/hg19_primary.fa.fai"
            bwamem2 = "${params.idt_base}/BWA_Index/hg19/"
        }
    }
}